// _variables.scss

$primary-color: #fd9308fa;
$secondary-color: rgb(238, 171, 56);
$hero-bg-color: #000;
$hero-text-color: #fff;
$primary-cta-color: #ec8d11;
$secondary-cta-color: $primary-cta-color;

$typing-speed: 2s;
$blink-speed: 0.5s;
$cursor-width: 3px;
$text-color: #fff;
$cursor-color: #fff;
$font-family: monospace;
$total-characters: 12;
